<%# 投稿後のエラーメッセージ %>
<% if model.errors.any? %>
  <p>投稿できていません！</p>
<div class="error-alert">
  <ul>
    <% model.errors.full_messages.each do |message| %>
    <li class='error-message'><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>