<% @item.each do |item| %>
  <li class='list'>
    <div class='item-info'>
      <h3 class='item-category'>
        <%= item.category.name %>
      </h3>
      <div class='item-season'>
        <%= item.season.name %>
      </div>
    </div>
    <%= link_to item_path(item.id) do %>
      <div class='item-img-content'>
        <%= image_tag item.image.variant(resize:'119x160'), class: "item-img" %>
      </div>
    <%end%>
  </li>
<% end %>
