@charset "UTF-8";

html{
    font:14px/1.3 "メイリオ", Meiryo, Osaka, "ヒラギノ角ゴ Pro W3", "ＭＳ ゴシック", Arial, Helvetica, Tahoma, sans-serif;
}

a,
a:hover{
	color:#333631;
	text-decoration:none;
}

header{
	width:100%;
	overflow:hidden;}

.lists-right {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.login, .sign-up, .logout, .user-nickname {
  margin-right: 10px;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #908f92;/*色*/
  border: solid 1px #908f92;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
  
header h2{
	padding:10px;
}

header p.des{
	padding:0 10px;
	margin-bottom:5%;
} 

.main-header img {
  width: 100%;
  height: 100%;
}

.main-header {
  position: relative;
  }

.introduction {
  position: absolute;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 3vh;
  text-align: center;
  color: white;
  text-shadow: 1px 2px 3px #808080;
}
.des {
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  text-shadow: 1px 2px 3px #808080;
}

.post-btn {
  position: fixed;
  right: 0;
  background: white;
  text-align: center;
}

.post-btn-text {
  display: block;
  font-weight: bold;
  border-bottom-style: solid;
}



.lists-left {
  display: flex;
}

.category-list {
  margin-left: 3vw;
  border-left: 3px solid black;
  padding-left: 4px;
}

.season-list {
  border-left: 3px solid black;
  margin-left: 3vw;
  padding-left: 4px;
}

.title {
  margin-top: 15px;
  text-align: center;
  font-size: 3vh;
}

/* NEW ARRIVAL */

.item-lists {
  display: flex;
  flex-wrap: wrap;
}

.item-info {
  margin: 1vh 0;
}

.list {
  margin: 10px 0 0 3px;
}