.new-item-title {
  width: 80%;
  font-size: 15px;
  margin: 10px auto;
  border-bottom: 2px solid rgb(65, 60, 60);
}

.item-main {
  text-align: center;
}

.items-text {
  width: 80%;
}

.small-items-text {
  width: 60%;
}

.price-items-text {
  width: 35%;
}


.input-date {
  display: flex;
  justify-content: center;
}

.weight-bold-text {
  font-weight: bold;
  margin-top: 15px;
}

.input-btn-contents {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.input-btn {
  background: #e76059;
  border: 1px solid #e76059;
  color: #fff;
  width: 35%;
  height: 50px;
  font-size: 14px;
  margin: 4vh 4vh;
}

.back-btn {
  width: 35%;
  height: 30px;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  text-decoration: none;
  padding-top: 10px;
  
}